#########################################
# StormCraft - Town Hall Config File    #
# 2004 StormCraft - All Rights Reserved #
# ------------------------------------- #
# team, leave options out unless they currently do something

################################################
# Account Settings                             #
# -------------------------------------------- #
allow_new_accounts = 1

# Password to log in as admin
admin_password = "*admin_stormcraft*"

################################################
# Folder Settings & Paths                      #
# -------------------------------------------- #

#accountdir   = "data/accounts"
#characterdir = "data/characters"
dbc_path     = "data/dbc"


################################################
# Connection Settings  	                       #
# -------------------------------------------- #

# Max connections will allow to server
maxallowconnections = 100


################################################
# Server Info Settings                         #
# -------------------------------------------- #

server_name            = "My Server"
server_owner_name      = "Your name here"
server_welcome_message = "Welcome to StormCraft Town Hall"

server_address = "192.168.1.100"

#######################
# Realm List Settings #
# ------------------- #

# Add a line like these to appear on realm list servers...
# You CAN have multiple realm lists! (no artificial limit to how many)

# Public server list
# realmlist = 66.208.106.16
# newer public server list.
# realmlist = 66.98.226.84
# Example domain..
# realmlist = realms.wowforge.net
# Private server list
realmlist = realms.alita.cc

################################################
# GM Level Settings                            #
# -------------------------------------------- #
# Userlevels required for certain commands.  User levels are as follows:
# 100 - admin. 50 - GM. 25 - Half-GM.  10 - "moderator", 0 - Normal
# Do not try to use userlevels greater than 128 or lower than -127

# %spawn
gmlevel_spawn = 10


################################################
# DEBUG Settings                               #
# -------------------------------------------- #


